{%extends "home_invest.html" %}
{% block li %} PORTFOLIO {% endblock %}
    {%block content%}
    <div class="column1">
        <div class="portfolio">
            <div class="header-portfolio">
                <form class="form-port" action="#" method="post" autocomplete="off", id="form-port">
                    <div>
                        <h1 class="h1-home">CREATE PORTFOLIO</h1>
                    </div>

                    <div class="form-home">
                        <label class="form-name" for="Portfolio">Portfolio:</label>
                        <input type="text" class="form-name--input"
                        placeholder="Portfolio Name" id="Portfolio" name="Portfolio" required>
                    </div>

                    <div class="form-home">
                        <label class="form-name" for="type">Type:</label>
                        <input type="text" class="form-name--input"
                        placeholder="Portfolio Type" id="type" name="type" required>
                    </div>

                    <div class="form-home">
                        <label class="form-name" for="Description">Description:</label>
                    </div>
                    <textarea rows="10" cols="50" id="comment" name="comment" form="form-port", class="form-portfolio--input__text-area"></textarea>

                    <div class="register-form__group5">
                        <!-- <button type="button_create_acc" onclick="document.getElementById('id01').style.display='none'" class="register-form__group5__button">TẠO TÀI KHOẢN</button> -->
                        <!-- <div class="msg">{{ msg }}</div> -->
                        <input type="submit" id="btnSubmit_Portfolio" class="create-portfolio__button" value="CREATE PORTFOLIO">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for message in get_flashed_messages() %}
        <div id='id02' class="modal" autocomplete="off">
            <div class="modal__body">
                <div class="msg2">{{ message }}</div>
                <div class="close-crt--acc">
                    <span onclick="document.getElementById('id02').style.display='none'" title="Close tab">
                        <button class="btn-close-acc">CLOSE</button>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endblock %}